@media (min-width: 700px) {
}

$black: #262626;
$green: #81d064;

body {
	margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&family=Source+Sans+Pro:wght@300;600&display=swap');

@include load-font;

body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 4em 2em 2em 2em;
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Source Sans Pro', sans-serif;
	}
}

code {
	font-family: 'Source Code Pro', monospace;
}

.atomic {
	header {
		a {
			color: #fff;
		}
		background-color: #262626;
		color: #fff;
		left: 0;
		padding: .75em;
		position: fixed;
		text-transform: uppercase;
		top: 0;
		width: calc(100% - 1.5em);
		z-index: 100;
		ul {
			float: left;
			margin: 0;
			padding: 0;
			top: 50%;
			li {
				display: inline-block;
				margin-right: .5em;
				ul {
					display: inline-block;
					float: none;
					margin: 0 0 0 .5em;
					padding: 0;
					li {
						margin: 0 .5em 0 0;
					}
				}
			}
		}
		.viewport-size {
			float: right;
			font-family: 'Source Code Pro', monospace;
		}
	}
}

#atoms {
	h3 {
		margin-bottom: 0;
	}
	hr {
		border: 0;
		height: 0;
		border-top: 2px solid rgba(0, 0, 0, 0.1);
		border-bottom: 2px solid rgba(255, 255, 255, 0.3);
	}
	ul {
		margin: 0 0 3em 0;
	}
	.color {
		list-style-type: none;
		margin-left: -.5em;
		padding: 0;
		li {
			display: inline-block;
			border: 1px solid $black;
			padding: .65em .75em .75em .75em;
			margin: .5em;
			max-width: 50%;
			width: calc(10% - 1em);
			.name, .hex {
				display: block;
			}
			.name {
				font-weight: 600;
				margin-top: .35em;
			}
			.hex {
				font-family: 'Source Code Pro', monospace;
			}
			.bkg {
				margin-top: .35em;
				height: 5em;
				width: 100%;
			}
		}
	}
	.fonts {
		color: $black;
		font-size: 1.25em;
		list-style-type: none;
		@include font-body;
		padding: 0;
		.headline {
			@include font-headline;
		}
		.intro {
			@include font-intro-italic;
		}
	}
	.headlines-with-copy {
		list-style-type: none;
		padding: 0;
		@include font-body;
		.headline-tag {
			font-family: 'Source Code Pro', monospace;
		}
		h1, h2, h3, h4, h5, h6 {
			@include font-headline;
		}
	}
}