@media (min-width: 700px) {
}

$black: #262626;
$green: #81d064;

body {
	margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 4em 2em 2em 2em;
}

code {
	font-family: 'Source Code Pro', monospace;
}

.atomic {
	header {
		a {
			color: #fff;
		}
		background-color: #262626;
		color: #fff;
		left: 0;
		padding: .75em;
		position: fixed;
		text-transform: uppercase;
		top: 0;
		width: calc(100% - 1.5em);
		z-index: 100;
		ul {
			float: left;
			margin: 0;
			padding: 0;
			top: 50%;
			li {
				display: inline-block;
				margin-right: .5em;
				ul {
					display: inline-block;
					float: none;
					margin: 0 0 0 .5em;
					padding: 0;
					li {
						margin: 0 .5em 0 0;
					}
				}
			}
		}
		.viewport-size {
			float: right;
			font-family: 'Source Code Pro', monospace;
		}
	}
}

#atoms {
	.color {
		list-style-type: none;
		margin: -.5em 0 0 -.5em;
		padding: 0;
		li {
			display: inline-block;
			border: 1px solid $black;
			padding: 1em;
			margin: .5em;
			max-width: 50%;
			width: calc(10% - 1em);
			.name, .hex {
				display: block;
			}
			.bkg {
				margin-top: .35em;
				height: 4em;
				width: 100%;
			}
		}
	}
}