@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&family=Source+Sans+Pro:wght@300;600&display=swap");
@import url("https://use.typekit.net/ueu3gzi.css");
@keyframes announcement {
  0% {
    background-position: 10% 0%; }
  50% {
    background-position: 91% 100%; }
  100% {
    background-position: 10% 0%; } }

@keyframes stream {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

h1, h2, h3, h4, h5, h6 {
  font-family: vista-slab, serif;
  font-weight: 700;
  font-style: italic; }

body {
  margin: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 4em 2em 2em 2em; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Source Sans Pro', sans-serif; }

code {
  font-family: 'Source Code Pro', monospace; }

.atomic header {
  background-color: #262626;
  color: #fff;
  left: 0;
  padding: .75em;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: calc(100% - 1.5em);
  z-index: 100; }
  .atomic header a {
    color: #fff; }
  .atomic header ul {
    float: left;
    margin: 0;
    padding: 0;
    top: 50%; }
    .atomic header ul li {
      display: inline-block;
      margin-right: .5em; }
      .atomic header ul li ul {
        display: inline-block;
        float: none;
        margin: 0 0 0 .5em;
        padding: 0; }
        .atomic header ul li ul li {
          margin: 0 .5em 0 0; }
  .atomic header .viewport-size {
    float: right;
    font-family: 'Source Code Pro', monospace; }

#atoms h3 {
  margin-bottom: 0; }

#atoms hr {
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3); }

#atoms ul {
  margin: 0 0 3em 0; }

#atoms .color {
  list-style-type: none;
  margin-left: -.5em;
  padding: 0; }
  #atoms .color li {
    display: inline-block;
    border: 1px solid #262626;
    padding: .65em .75em .75em .75em;
    margin: .5em;
    max-width: 50%;
    width: calc(10% - 1em); }
    #atoms .color li .name, #atoms .color li .hex {
      display: block; }
    #atoms .color li .name {
      font-weight: 600;
      margin-top: .35em; }
    #atoms .color li .hex {
      font-family: 'Source Code Pro', monospace; }
    #atoms .color li .bkg {
      margin-top: .35em;
      height: 5em;
      width: 100%; }

#atoms .fonts {
  color: #262626;
  font-size: 1.25em;
  list-style-type: none;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0; }
  #atoms .fonts .headline {
    font-family: vista-slab, serif;
    font-weight: 700;
    font-style: italic; }
  #atoms .fonts .intro {
    font-family: vista-slab, serif;
    font-weight: 400;
    font-style: italic; }

#atoms .headlines-with-copy {
  list-style-type: none;
  padding: 0;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 300;
  font-style: normal; }
  #atoms .headlines-with-copy .headline-tag {
    font-family: 'Source Code Pro', monospace; }
  #atoms .headlines-with-copy h1, #atoms .headlines-with-copy h2, #atoms .headlines-with-copy h3, #atoms .headlines-with-copy h4, #atoms .headlines-with-copy h5, #atoms .headlines-with-copy h6 {
    font-family: vista-slab, serif;
    font-weight: 700;
    font-style: italic; }
