@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&family=Source+Sans+Pro:wght@300&display=swap");
body {
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

code {
  font-family: 'Source Code Pro', monospace;
}

.atomic header {
  background-color: #81d064;
  padding: .75em;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: calc(100% - 1.5em);
  z-index: 100;
}

.atomic header a {
  color: #262626;
}

.atomic header ul {
  float: left;
  margin: 0;
  padding: 0;
  top: 50%;
}

.atomic header ul li {
  display: inline-block;
}

.atomic header ul li ul {
  display: inline-block;
  float: none;
  margin: 0;
  padding: 0;
}

.atomic header ul li ul li {
  margin-left: 0;
}

.atomic header .viewport-size {
  float: right;
  font-family: 'Source Code Pro', monospace;
}
