$black: #262626;
$white: #f9f9f9;
$blue: #6bc7f2;
$blue-dark: #57a9cf;
$green: #81d064;
$grey: #b4b4b4;
$yellow: #f4d506;
$red: #ff8888;

$graident-begin: #67a3ea;
$graident-end: #705ac4;

$focus: #dbe4c6;
$lightmode: #fdfdfd;
$darkmode: #404040;

@mixin load-font {
	@import url("https://use.typekit.net/ueu3gzi.css");
}

@mixin font-body {
	font-family: freight-sans-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

@mixin font-intro-italic {
	font-family: vista-slab, serif;
	font-weight: 400;
	font-style: italic;
}

@mixin font-headline {
	font-family: vista-slab, serif;
	font-weight: 700;
	font-style: italic;	
}


@keyframes announcement { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

@keyframes stream { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1, h2, h3, h4, h5 {
	@include font-headline;
}