$black: #262626;

/*

@font-face {
    font-family: '';
    src: url('../webfonts/') format('woff2'),
         url('../webfonts/') format('woff');
    	font-weight: 300;
    font-style: normal;   
}

@font-face {
    font-family: '';
    src: url('../webfonts/') format('woff2'),
         url('../webfonts/') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../webfonts/') format('woff2'),
         url('../webfonts/') format('woff');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: '';
    src: url('../webfonts/') format('woff2'),
         url('../webfonts/') format('woff');
    font-weight: 900;
}

@mixin font-body {
	font-family: ;
	font-weight: 300;
    font-style: normal;
}

@mixin font-body-italic {
	font-family: ;
    font-style: italic;
}

@mixin font-body-semibold {
	font-family: ;
	font-weight: 600;
	font-style: normal;
}

@mixin font-headline {
	font-family: ;
	font-weight: 900;
	font-style: normal;
}

*/